{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block heading %}
<style>
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

form input {
  border-radius: 5px;
}
</style>



{% endblock heading %}


{% block content %}
<form method="POST">
{% csrf_token %}
    <div class='col-4 mx-auto mt-4'>
        {{ form|crispy }}
        <button class="btn btn-info mt-3 mb-5" type='submit'>
            Login <span class="badge badge-primary"></span>
    </button>
      <div class=>
        <a class='text-muted' href='{% url "register" %}'>
          <i>Or Sign Up</i>
        </a>
      </div>
    </div>
    
</form>

{% endblock content %}