{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='content-section'>
        <form method='POST'>
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4'>Sign in</legend>
                {{ form|crispy }}
                <div class='form-group'>
                    <button type='submit' class='btn btn-outline-info mt-3'>Sign in</button>
                    <a class='text-muted ml-2' href='#'><i>forget password?</i></a>
                </div>
            </fieldset>
            </form>
        <div class='border-top pt-3'>
        <small class='text-muted text-sm-left'>Need an Account?</small>
        <a class='ml-2 text-sm-left' href='{% url "register" %}'>Sign Up</a>
    </div>
</div>
{% endblock content %}